services:
  - type: web
    name: portfolio-backend
    env: node
    rootDir: server
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASSWORD
        sync: false
      - key: MONGODB_URI
        sync: false
      - key: PORT
        value: 5000
